/* Created on May 26, 2023
By Anthony Hall */

:root {
  --day1: #FF9D00;
  --day2: #00D5FF;
  --day3: #14C978;
  --day4: #9DDEF2;
  --night1: #005496;
  --night2: #96005A;
  --night3: #664394;
  --night4: #8D82B6;
  --white-color: #ffffff;
  --light-grey: #8D8D8D;
  --button-color: #D3D3D3;
  --button-hover-color: #B4B4B4;
  --shadow-color: #545454;
  --border-radius: 3em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
  color: var(--white-color);
  line-height: 1.5;
  font-size: 1em;
  /* height: 100%; */
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--white-color);
}
  
/* Classes for the random background colors */
.chooseBackgroundDay1 {
  background-image: linear-gradient(#FFC543, #FF8C00);
}

.chooseBackgroundDay2 {
  background-image: linear-gradient(#00D5FF, #00A7C9);
}

.chooseBackgroundDay3 {
  background-image: linear-gradient(#14C978, #009E91);
}

.chooseBackgroundDay4 {
  background-image: linear-gradient(#9DDEF2, #4D9ECC);
}

.chooseBackgroundNight1 {
  background-image: linear-gradient(#005496, #003359);
}

.chooseBackgroundNight2 {
  background-image: linear-gradient(#96005A, #590000);
}

.chooseBackgroundNight3 {
  background-image: linear-gradient(#664394, #3A2457);
}

.chooseBackgroundNight4 {
  background-image: linear-gradient(#8D82B6, #605880);
}

/* Definitions to add icon to input field */
.icon {
  padding: 10px;
  color: var(--shadow-color);
  min-width: 50px;
  height: 56px;
  text-align: center;
  position: absolute;
  background-image: url(/assets/images/icon.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Definitions for the header */
#headerMenu {
  position: static;
  width: 100%;
  height: 88px;
}

#headerMenu>div {
  font-size: .8rem;
}

.searchIcon {
  width: 56px;
  height: 56px;
  display: none;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  background-image: url(/assets/images/icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 2%;
  z-index: 100000;
}

.searchIcon:hover {
  opacity: .5;
  transform: translate(0, 2px);
  cursor: pointer;
}

.searchTime {
  display: none;
  margin: 0 .5rem;
}

.searchTemp {
  display: none;
  margin: 0 .5rem;
}

/* Definitions for location modal */
.promptModal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

/* Modal content container */
.promptModalContent {
  display: block;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  background-color: transparent;
}

.promptModalContent>h1 {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white-color);
  margin: 1.2em 0;
}

/* Definitions for main section */
p {
  font-size: 1.2rem;
}

/* Button definitions */
.btn {
  font-size: 1rem;
  font-weight: 500;
  text-decoration:none;
  height: 44px;
  width: auto;
  margin: 1rem .12rem;
  padding: 0 2rem;
  border-radius: var(--border-radius);
  color: var(--white-color);
  border: 2px solid var(--white-color);
  outline: none;
  background-color: transparent;
  opacity: .8;
  cursor: pointer;
}

.btn:hover {
  color: var(--white-color);
  border: 2px solid var(--white-color);
  transform: translate(0, 2px);
  background-color: rgba(255,255,255, .3);
}

.subTitle {
  display: none;
  padding: 0 0 .5em 0;
  font-size: 1.5rem;
  font-weight: 700;
}

/* This gets added after someone submits a search request */
#pastSearchesContainer {
  display: flex;
}

.hidden {
  display: none;
}

.listGroup {
  padding: 0;
  list-style: none;
}

.listItem {
  margin-bottom: 10px;
  padding: 1.5%;
  border-radius: var(--border-radius);
  background-color: var(--light-grey);
  color: var(--white-color);
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
}

.listItem:hover {
  background-color: var(--button-hover-color);
}

.status-icon {
  padding: 2px 5px;
  margin: 0 5px;
  background-color: rgba(255,255,255, 1);
  border-radius: var(--border-radius);
}

h1.appTitle {
  position: static;
  top: 2%;
  left: 2%;
}

/* Styles for the current conditions view */
#currentConditionsContainer, 
#currentWeatherContainer, 
#currentWeatherStatsContainer, 
#fiveDayForecastHeader, 
#fiveDayForecastCardContainer {
  display: none;
}

#currentWeatherStatsContainer {
  padding: 48px 0 0 0;
}

/* Current conditions description */
#singleLocationDesc {
  font-size: 2rem;
  text-align: center;
}

/* Current conditions temperature */
#singleLocationTemp {
  font-size: 8rem;
  font-weight: 500;
  line-height: .8;
  color: var(--white-color);
  justify-content: start;
}

/* Current conditions image icon */
#singleLocationIcon {
  width: 100%;
  height: 100%;
}

#fiveDayTitle {
  font-size: 1.25rem;
  text-align: center;
  padding: 1rem 0;
}

.fifty-percentage {
  width: 40%;
}

.fiveDayForecastCard {
  width: 232px;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  padding: 1.5rem 0;
  margin: 0 .5rem 3rem .5rem;
}

.fiveDayCard {
  text-align: center;
  width: 100%;
  color: var(--light-grey);
}

.fiveDayIcon > img {
  width: 182px;
}

.dayOfWeek {
  font-weight: 700;
  font-size: 2rem;
}

.actualDate {
  font-weight: 500;
  font-size: .7rem;
}

.actualTime {
  font-weight: 700;
  font-size: .9rem;
  margin: 1rem 0 0 0;
}

.fiveDayTemp {
  font-weight: 700;
  font-size: 1.8rem;
}

#tempStatsContainer {
  width: 100%;
}

.statsTitle {
  font-weight: 500;
  font-size:1.25rem;
  color: var(--white-color);
  text-align: center;
  padding: 0;
  margin: 0;
}

.statsValue {
  font-weight: 700;
  font-size:2rem;
  color: var(--white-color);
  text-align: center;
  padding: 0;
  margin: 0;
}

.statsExtra {
  font-weight: 500;
  font-size:.8rem;
  color: var(--white-color);
  text-align: center;
  padding: 0;
  margin: 0;
}

.padContainer {
  width: 140px;
  padding: 2% 2% 4% 2%;
  margin: 1% 1% 2% 1%;
}

/* 5 day forcast */
h3#searchHistoryHeader {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  margin: 2.5em 0 0 0;
}

/* FORM */
.form-label,
.form-input,
.form-textarea {
  display: block;
  color: var(--light-grey);
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

input {
  height: 56px;
}

.form-input {
  width: 100%;
  height: 56px;
  padding: 3% 8%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
  font-family: "Urbanist", sans-serif;
}

input:focus::placeholder {
  opacity: .35;
}

input:blur::placeholder {
  color: transparent;
}

#submitBtn {
  display: none;
}

/* HEIGHT / WIDTH UTILS */
.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}

/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.col-auto {
  flex-grow: 1;
}

.col-1 {
  flex: 0 0 calc(100% * 1 / 12 - 2%);
}

.col-2 {
  flex: 0 0 calc(100% * 2 / 12 - 2%);
}

.col-3 {
  flex: 0 0 calc(100% * 3 / 12 - 2%);
}

.col-4 {
  flex: 0 0 calc(100% * 4 / 4 - 2%);
}

.col-5 {
  flex: 0 0 calc(100% * 5 / 5 - 2%);
}

.col-6 {
  flex: 0 0 calc(100% * 6 / 12 - 2%);
}

.col-7 {
  flex: 0 0 calc(100% * 7 / 12 - 2%);
}

.col-8 {
  flex: 0 0 calc(100% * 8 / 10 - 2%);
}

.col-9 {
  flex: 0 0 calc(100% * 9 / 12 - 2%);
}

.col-10 {
  flex: 0 0 calc(100% * 10 / 12 - 2%);
}

.col-11 {
  flex: 0 0 calc(100% * 11 / 12 - 2%);
}

.col-12 {
  flex: 0 0 100%;
}

@media screen and (min-width: 480px) {
  .promptModalContent>h1 {
    font-size: 1rem;
  }

  .padContainer {
    width: auto;
    padding: 0;
    margin: 0;
  }

  #currentWeatherStatsContainer {
    padding: 24px 0 0 0;
  }
}

@media screen and (min-width: 640px) {
  #singleLocationDesc {
    font-size: 3rem;
  }

  /* Current conditions temperature */
  #singleLocationTemp {
    font-size: 20rem;
  }

  .promptModalContent>h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  #currentWeatherStatsContainer {
    padding: 12px 0 0 0;
  }
}

@media screen and (min-width: 768px) {
  .promptModalContent {
    width: 40%;
  }
  
  .promptModalContent>h1 {
    font-size: 2rem;
  }

  #currentWeatherStatsContainer {
    padding: 6px 0 0 0;
  }

  .col-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
}

@media screen and (min-width: 992px) {
  #currentWeatherStatsContainer {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  
}
  
  
  